/backend/.vs
/backend/AnanaPhone/bin
/backend/AnanaPhone/obj
/docker/data-mail
/docker/data-minio
/docker/data-mongo
/docker/data-vmail
/docker/callcontrol/asterisk/_holdmusic/cg.wav
/docker/callcontrol/asterisk/_holdmusic/faix.wav
/docker/callcontrol/asterisk/_holdmusic/on1.wav
/frontend/.quasar
/frontend/node_modules
/frontend/yarn.lock