/backend/.vs
/backend/AnanaPhone/bin
/backend/AnanaPhone/obj
/docker/data-mail
/docker/data-minio
/docker/data-mongo
/docker/data-vmail
/docker/data-database
/docker/data-dotnet-dataprotection
/docker/secrets
/docker/includes/holdmusic/cg.wav
/docker/includes/holdmusic/faix.wav
/docker/includes/holdmusic/on1.wav
/frontend/dist
/frontend/.quasar
/frontend/node_modules
/frontend/yarn.lock
/frontend/package-lock.json
/docker/secrets/MINIO_CONFIG_ENV_FILE.txt
